<!doctype html>
<html lang="zh-CN">
  <head>
    <meta name="buildTime" content="2026-07-07 02:09:45">
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>NyxBot</title>
    <script type="module" crossorigin src="/static/js/CcoRHGn8.js"></script>
    <link rel="modulepreload" crossorigin href="/static/js/Dl2K39-w.js">
    <link rel="modulepreload" crossorigin href="/static/js/CSTfzFjD.js">
    <link rel="modulepreload" crossorigin href="/static/js/CZHxFP75.js">
    <link rel="stylesheet" crossorigin href="/static/css/VHzaaeFw.css">
    <link rel="stylesheet" crossorigin href="/static/css/CbsD7saZ.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
